<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=500, initial-scale=1" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body> 
    <!-- <body tabindex="-1"> -->
    <nav>
        <div class="navbar bg-base-100">
            <div class="flex-1">
              <a class="btn btn-ghost text-xl">LEGO Collection</a>
            </div>
            <div class="flex-none">
              <ul class="menu menu-horizontal px-1">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li>
                  <details>
                    <summary>
                      Theme
                    </summary>
                    <ul class="p-2 bg-base-100 rounded-t-none">
                        <li><a href="/lego/sets?theme=technic">Technic</a></li>
                        <li><a href="/lego/sets?theme=classic%20town">Classic Town</a></li>
                        <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                    </ul>
                  </details>
                </li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="container mx-auto">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
            <img src="https://cdn.rebrickable.com/media/sets/0012-1.jpg" class="max-w-sm rounded-lg shadow-2xl" />
            <div>
                <h1 class="text-5xl font-bold">404 We lost this page</h1>
                <p class="py-6">Sorry the page you were looking for could not be found</p>
                
                <a href="/"><button class="btn btn-primary">Go Home</button></a>
                
            </div>
            </div>
        </div>
    </div>

</body>
